/******Fonte******/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/******Variaveis******/
:root{
    --cor-body: #E4E9F7;
    --cor-menu: #FFFFFF;
    --cor-primaria: #695CFE;
    --cor-primaria-clara: #F6F5FF;
    --cor-toggle: #DDDDDD;
    --cor-texto: #707070;

    --transicao-02: all .2s ease;
    --transicao-03: all .3s ease;
    --transicao-04: all .4s ease;
    --transicao-05: all .5s ease;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--cor-body);
    transition: var(--transicao-02);
}
body.dark{
    --cor-body: #18191a;
    --cor-menu: #242526;
    --cor-primaria: #3a3b3c;
    --cor-primaria-clara: #3a3b3c;
    --cor-toggle: #ffffff;
    --cor-texto: #cccccc;
    transition: var(--transicao-02);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: .8rem 1rem;
    background-color: var(--cor-menu);
    transition: var(--transicao-02);
    z-index: 100;
}
.sidebar.close{
    width: 90px;
    transition: var(--transicao-04);
}
.sidebar.close .menu__texto{
    opacity: 0;
    transition: var(--transicao-02);
}
.sidebar.close .sidebar__titulo, .sidebar.close .sidebar__subtitulo{
    opacity: 0;
    transition: var(--transicao-02);
}
.sidebar__header{
    display: flex;
    align-items: center;
    column-gap: .3rem;
    position: relative;
}
.sidebar__logo img{
    width: 55px;
    padding-left: 5px;
}
.sidebar__titulo{
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: var(--cor-texto);
    white-space: nowrap;
    transition: var(--transicao-02);
}
.sidebar__subtitulo{
    font-weight: 300;
    line-height: 1.5rem;
    font-size: .9rem;
    letter-spacing: .7px;
    color: var(--cor-texto);
    white-space: nowrap;
    transition: var(--transicao-02);
}

.sidebar__toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-menu);
    font-size: 1.5rem;
    transition: var(--transicao-02);
}
body.dark .sidebar__toggle{
    color: var(--cor-texto);
}
.sidebar.close .sidebar__toggle{
    transform: translateY(-50%);
}

.menubar{
    height: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu__item, .sidebar__footer-menu__item{
    height: 50px;
    margin-top: .8rem;
    list-style: none;
    display: flex;
    align-items: center;
    
}
.menu__pesquisa{
    background-color: var(--cor-primaria-clara);
    border-radius: 6px;
}
.menu__pesquisa input{
    height: 100%;
    width: 100%;
    outline: none;
    background-color: var(--cor-primaria-clara);
    border: 0;
    font-size: 1rem;
    border-radius: 6px;
    color: var(--cor-texto);
}
.sidebar.close .menu__pesquisa input{
    opacity: 0;
}
.menu__link{
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: var(--transicao-02);
    width: 100%;
    border-radius: 6px;
}
.menu__link:hover{
    background-color: var(--cor-primaria);
}
.menu__icone, .menu__texto{
    font-size: 1.2rem;
    white-space: nowrap;
    color: var(--cor-texto);
    transition: var(--transicao-02);
}
.menu__link:hover .menu__icone,
.menu__link:hover .menu__texto{
    color: var(--cor-menu);
}

body.dark .menu__link:hover .menu__icone,
body.dark .menu__link:hover .menu__texto{
    color: var(--cor-texto);
}
.menu__icone{
    display: flex;
    align-items: center;
    min-width: 60px;
    justify-content: center;
}

.modo{
    background-color: var(--cor-primaria-clara);
    border-radius: 6px;
    position: relative;
}
.modo .menu__texto{
    font-size: 1rem;
    white-space: nowrap;
}
.menu__modo{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu__modo i{
    position: absolute;
}

.menu__modo--claro{
    opacity: 0;
}
body.dark .menu__modo--claro{
    opacity: 1;
}
body.dark .menu__modo--escuro{
    opacity: 0;
}
.modo__escolha{
    height: 100%;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    position: absolute;
    right: 8px;
    background-color: var(--cor-primaria-clara);
}
.modo__escolha-slider{
    width: 44px;
    height: 22px;
    background-color: var(--cor-toggle);
    position: relative;
    border-radius: 25px;
}
.modo__escolha-slider::before{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--cor-menu);
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: var(--transicao-02);
}

body.dark .modo__escolha-slider::before{
    left: 25px;
    transition: var(--transicao-02);
}

.conteudo{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: var(--transicao-02);
    background-color: var(--cor-body);
    padding: 1rem;
}
.sidebar.close ~ .conteudo{
    left: 90px;
    width: calc(100% - 90px);
    transition: var(--transicao-04);
}
.conteudo__titulo{
    color: var(--cor-texto);
    font-weight: 500;
    font-size: 2rem;
}